{% extends 'base.html' %}
{% block form%}
<div style=background-repeat: no-repeat; background-attachment: fixed; background-size: 100% auto;">
    <div class="container">
        <a href="/"><button class="btn btn-primary btn-lg float-right mt-3">Main</button></a><br>
    </div>
    <div class="container col-xs-5 col-md-4 mt-5" style="opacity: 0.8;">
        <div class="card">
            <div class="card-header">
                <h3>Data Taking For Prediction</h3>
            </div>
            <div class="card-body">
                <form action="/predict" method="POST">
                    <div class="form-group">
                        <label for="name"><b>Name</b></label>
                        <input type="text" name="name" placeholder="Enter Your Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Pregnancies"><b>Number of Pregnancies</b></label><br>
                        <input type="number"min ="0" max = "17" name="Pregnancies" placeholder="Enter Number of Pregnancies " class="form-control">
                    </div>
					<div class="form-group">
                        <label for="Glucose Level"><b>Glucose Level</b></label><br>
                        <input type="number" min ="1" max = "199"name="Glucose" placeholder="Enter Glucose value" class="form-control">
                    </div>
                    
                           
                    <div class="form-group">
                        <label for="Blood Pressure"><b>Blood Pressure</b></label><br>
                        <input type="number" min ="1" max = "122" name="BloodPressure" placeholder="Enter BloodPressure value" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="SkinThickness"><b>SkinThickness</b></label><br>
                        <input type="number" min ="0" max = "99" name="SkinThickness" placeholder="Enter SkinThickness value" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Insulin"><b>Insulin</b></label><br>
                        <input type="number" min ="1" max = "846" name="Insulin" placeholder="Enter Insulin value" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="BMI"><b>BMI(Body Mass Index)</b></label><br>
                        <input type="number step="0.01" min ="1" max = "68" name="BMI" placeholder="Enter BMI value" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label for="DiabetesPedigreeFunction"><b>DiabetesPedigreeFunction</b></label><br>
                        <input type="number" step="0.01" min ="0" max = "2" name="DiabetesPedigreeFunction" placeholder="Enter DiabetesPedigreeFunction "  class="form-control">
                    </div>
		   <div class="form-group">
                        <label for="Age"><b>Age</b></label><br>
                        <input type="number" min ="21" max = "81" name="Age" placeholder="Enter Age" class="form-control">
                    </div>
                    

                    <div class="container">
                        <button class="btn btn-success btn-lg" type="submit">Submit</button>
                        <button class="btn btn-warning btn-lg float-right" type="reset">Clear</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
  </div>
{% endblock%}
